/*Edita el fichero index.html para que muestre una web que se adapte al 
tamaño de la pantalla y que represente este diseño:*/

/*lo primero que tenemos que hacer es componer el html 
2nd empieza con el css  
    -aquí vamos a hacer un diseño mobile first, es decir que los elementos ya se distribuyan pensando en cómo 
    se va a ver en un móvil y luego con las jqueries lo adapatamos al formato desktop*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*Modificamos header*/
header{
    margin: auto;
    padding:2rem;
    text-align: center;
    color: white;
    background-color: black;
    max-width: 100%;
}

h1, h2{
    padding-bottom: 1rem;;
}
h2 {
    font-weight: lighter;
}

/*vamos con el main*/
main{
    background-color: white;
}

section{
    padding-top: 2rem;
}

form { 
    padding-top: 2rem;
    padding-bottom: 5rem;
}

section, form{
    width: 80%;
    margin: auto;
    border:1px solid black
}

h3{
    width:100%;
    color: grey;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;

}
img{
    padding-top: 2rem;
}

section > img, section > p {
    width: 95%;
    margin-left: 0 auto;
}

p + p{
    padding-top: 1rem;
}



ul li{
    list-style: none;
    margin-top:1rem;
}

input{
    display: block;
    background-color: grey;
}

#submit{
    color:white;
    background-color: black;
    border: none;
    margin-top: 1rem;
    padding: 0.5rem;

}

@media only screen and (min-width: 992px) {
img{
    float: right;
}
