/*Haz que el formulario siempre esté centrado en la pantalla y que 
tenga un ancho máximo de 800px y un ancho mínimo de 400px.*/
#formulario{
    margin:0 auto;
    max-width: 800px;
    min-width: 400px;
}

/*Haz que todos los campos obligatorios aparezcan con un borde rojo.*/
input:required{
    border: 1px solid red;
}

/*Haz que todos los fieldsets tengan fondo gris claro y un padding de `1rem`.*/
#formulario fieldset{
    background-color: lightgrey;
    padding: 1rem;
}

/*Haz que al pasar por encima el ratón de los fieldsets cambien de color de fondo a un gris más oscuro.*/
#formulario fieldset:hover{
    background-color: grey;
}

/*Haz que el primer y último fieldset tengan un borde inferior de color negro y de 5 píxeles de ancho.*/

#formulario fieldset:first-child, #formulario fieldset:nth-child(5){  /*Como se pode poñer esto mellor????????????????*/
    border-bottom: 5px dashed black;
}

/*Haz que el botón de envío tenga fondo negro, texto blanco y no tenga borde.*/
button{
    background-color: black;
    color: white;
    border-style: none;
}